<div class="title">
    {{ title }}
</div>
<br>
<div class="header">
    <div class="title2">
      <img src="/assets/demo/images/galleria/filter.png" alt="Descripción de la imagen" width="40" height="40" />
       <span>Filtros</span>

        <div class="filter-group">
        <label for="ventaId">Buscar Venta por ID</label>
        <input #ventaId type="number" placeholder="ID Venta" />
        <button (click)="buscarVentaPorId(ventaId.value)">Buscar</button>
        </div>

        <div class="filter-group">
        <label for="fechaDesde">Buscar Ventas por Fecha</label>
        <label for="fechaDesde">Fecha desde:</label>
        <input #fechaDesde type="date" />
        <label for="fechaDesde">Fecha hasta:</label>
        <input #fechaHasta type="date" />
        <button (click)="buscarVentasPorFecha(fechaDesde.value, fechaHasta.value)">Buscar</button>
      </div>
    </div>
</div>
<br>
<div class="boton">
  <button routerLink ="/registrar">+ Registrar venta</button>
</div>
<div>
    <div *ngIf="venta">
      <h2>Detalles de la Venta</h2>
      <p>ID Cliente: {{ venta.idCliente }}</p>
      <p>Nombre Cliente: {{ venta.nombreCliente }}</p>
      <p>Fecha: {{ venta.fecha }}</p>
      <p>Total: {{ venta.total }}</p>

      <h2>Productos Vendidos:</h2>
      <ul>
        <li *ngFor="let detalle of venta.detalleCantidadProductoVentaDTOList">
          <p>Producto: {{ detalle.nombreProducto }}</p>
          <p>Cantidad: {{ detalle.cantidad }}</p>
          <p>Precio por Unidad: {{ detalle.precioUnidad }}</p>
          <p>ID Detalle Producto: {{ detalle.idDetalleProducto }}</p>
        </li>
     </ul>
    </div>
  

    <div *ngIf="ventas.length > 0">
      <h3>Resultados:</h3>
      <ul>
        <li *ngFor="let v of ventas">
          id Cliente: {{ v.idCliente }} - nombre cliente: {{ v.nombreCliente}} - fecha: {{ v.fecha }} - total pagado: {{ v.total }}
        </li>
      </ul>
    </div>

    
    
  </div>
  