.title{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
}

.header {
    background-color: #e6e9ec;
    padding: 10px;
    display: flex; /* Cambiar a flex para gestionar mejor el alineamiento horizontal */
    align-items: center; /* Centrar verticalmente todos los elementos */
    gap: 20px; /* Espacio entre elementos */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.366); /* Sombra sutil */
  
    .title2 {
      display: flex;
      align-items: center; /* Centra los elementos verticalmente */
      justify-content: flex-start;
      gap: 15px; /* Añadir espacio entre los elementos de esta sección */
    }
  
    .title2 img {
      margin-left: 20px;
    }
  
    .title2 span {
      font-size: 1em;
      font-weight: 550;
      color: black;
    }
  
    .filter-group {
      display: flex; /* Flexbox para mantener los elementos en línea */
      margin-right: 20px;
    }
  
    .filter-group label {
      font-size: 0.9em;
      margin-bottom: 5px;
    }
  
    .filter-group input {
      margin-bottom: 10px;
      width: 115px;
    }
  
    .filter-group:first-of-type {
      gap: 5px; /* Añadir espacio entre label e input */
    }
  
    .filter-group:nth-of-type(2) {
      display: flex;
      flex-direction: row; /* Asegura que los elementos de fecha estén en una línea */
      align-items: center; /* Alinea verticalmente la etiqueta y los inputs */
      gap: 10px; /* Espacio entre el label e inputs */
    }
  
    .filter-group button {
      cursor: pointer;
      margin-bottom: 1px;
      margin-left: 10px; /* Añadir espacio entre el botón y los inputs */
    }
  
  }
  
  .boton {
    display: flex; /* Centrar el botón en el contenedor */
    justify-content: flex-end; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 0px 0; /* Espaciado alrededor del botón */
  }
  
  .boton button {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    margin-bottom: 10px;
    margin-top: -40px;
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  /* Efecto al pasar el ratón */
  .boton button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
  }
  
  .boton button:focus {
    outline: none; /* Sin contorno cuando el botón tiene el foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al hacer foco */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid;
    padding: 8px;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  }
  
  th {
    background-color: #caccef; /* Color de fondo para los títulos */
    font-weight: bold;
    color: rgb(33, 33, 33);
  }
  
  tr:nth-child(even) {
    background-color: #eceaea; /* Color de fondo alternado para filas pares */
  }

  tr:nth-child(odd) {
    background-color: #ffffff; /* Color de fondo alternado para filas pares */
  }
  
  tr:hover {
    background-color: #e0dbdb; /* Color de fondo al hacer hover sobre una fila */
  }
  
  td {
    text-align: center; /* Alineación centrada para los datos */
  }
  
  th {
    text-align: center; /* Alineación centrada para los títulos */
  }
  
  .resumen-container {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
  }
  
  .resumen-container p {
    margin: 0;
    line-height: 1.5;
  }

  .search-container {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap: 10px; /* Espacio entre el input y el botón */
  }
  
  .search-input {
    height: 35px;
    width: 250px;
    padding: 5px 10px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de texto */
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombras ligeras */
  }
  
  .search-button {
    height: 32px;
    padding: 0 15px; /* Espaciado horizontal */
    font-size: 14px;
    background-color: #858a8e; /* Azul claro */
    color: white;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombras ligeras */
  }
  
  .search-button:hover {
    background-color: #bfc0c1; /* Azul más oscuro */
  }
  
  