.title{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
}

.header {
    background-color: #e6e9ec;
    padding: 10px;
    display: flex; /* Cambiar a flex para gestionar mejor el alineamiento horizontal */
    align-items: center; /* Centrar verticalmente todos los elementos */
    gap: 20px; /* Espacio entre elementos */
  
    .title2 {
      display: flex;
      align-items: center; /* Centra los elementos verticalmente */
      justify-content: flex-start;
      gap: 15px; /* Añadir espacio entre los elementos de esta sección */
    }
  
    .title2 img {
      margin-left: 20px;
    }
  
    .title2 span {
      font-size: 1em;
      font-weight: 550;
      color: black;
    }
  
    .filter-group {
      display: flex; /* Flexbox para mantener los elementos en línea */
      margin-right: 20px;
    }
  
    .filter-group label {
      font-size: 0.9em;
      margin-bottom: 5px;
    }
  
    .filter-group input {
      margin-bottom: 10px;
      width: 115px;
    }
  
    .filter-group:first-of-type {
      gap: 5px; /* Añadir espacio entre label e input */
    }
  
    .filter-group:nth-of-type(2) {
      display: flex;
      flex-direction: row; /* Asegura que los elementos de fecha estén en una línea */
      align-items: center; /* Alinea verticalmente la etiqueta y los inputs */
      gap: 10px; /* Espacio entre el label e inputs */
    }
  
    .title2 button {
      cursor: pointer;
      margin-bottom: 1px;
      margin-left: 10px; /* Añadir espacio entre el botón y los inputs */
    }
  
    /* Alinear los botones con los inputs correspondientes */
    .title2 > button:nth-of-type(1) {
      align-self: center; /* Asegura que el botón de "Buscar por ID" esté centrado */
    }
  
    .title2 > button:nth-of-type(2) {
      align-self: flex-start; /* Asegura que el botón "Buscar por Fecha" esté alineado con los inputs de fecha */
      margin-left: 10px; /* Ajusta la separación del botón respecto a los inputs de fecha */
    }
  }
  
  .boton {
    display: flex; /* Centrar el botón en el contenedor */
    justify-content: flex-end; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 0px 0; /* Espaciado alrededor del botón */
  }
  
  .boton button {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  /* Efecto al pasar el ratón */
  .boton button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
  }
  
  .boton button:focus {
    outline: none; /* Sin contorno cuando el botón tiene el foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al hacer foco */
  }
  