<div class="title">
    {{ title }}
</div>
<br>
<div class="header">
    <div class="title2">
      <img src="/assets/demo/images/galleria/filter.png" alt="Descripción de la imagen" width="40" height="40" />
       <span>Filtros</span>

        <div class="filter-group">
        <label for="ventaId">Buscar Venta por ID</label>
        <input #ventaId type="number" placeholder="ID Venta" />
        <button (click)="buscarVentaPorId(ventaId.value)">Buscar</button>
        </div>

        <div class="filter-group">
        <label for="fechaDesde">Buscar Ventas por Fecha</label>
        <label for="fechaDesde">Fecha desde:</label>
        <input #fechaDesde type="date" />
        <label for="fechaDesde">Fecha hasta:</label>
        <input #fechaHasta type="date" />
        <button (click)="buscarVentasPorFecha(fechaDesde.value, fechaHasta.value)">Buscar</button>
      </div>
    </div>
</div>
<br>
<div class="boton">
  <button routerLink ="/registrar">+ Registrar venta</button>
</div>
<div>
    <div *ngIf="ventas.length > 0">
      <h3>Resultados:</h3>
      <ul>
        <li *ngFor="let v of ventas">
          id Cliente: {{ v.idCliente }} - nombre cliente: {{ v.nombreCliente}} - fecha: {{ v.fecha }} - total pagado: {{ v.total }}
        </li>
      </ul>
    </div>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th>ID venta</th>
            <th>ID producto</th>
            <th>Cantidad</th>
            <th>Nombre producto</th>
            <th>Precio por Unidad (USD)</th>
            <th>Precio Total (USD)</th>
            <th>Fecha de venta</th>
            <th>Cliente</th>
            <th>Utilidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of venta.detalleCantidadProductoVentaDTOList">
            <td>{{ venta.idVenta }}</td>
            <td>{{ detalle.idDetalleProducto }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.nombreProducto }}</td>
            <td>{{ detalle.precioUnidad }}</td>
            <td>{{ venta.total }}</td>
            <td> {{ venta.fecha }}</td>
            <td>{{ venta.nombreCliente }}</td>
            <td>{{ venta.utilidad }}</td>
          </tr>
        </tbody>
      </table>
    
    
  </div>
  